BODY {FONT-SIZE: 10px; COLOR: #000000; MARGIN: 0px}
TD {FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Verdana}
A {
	font-family: Tahoma, Arial, Verdan;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #4E90CB;
	cursor: hand;}

.timer {
	font-family: Tahoma, Arial, Verdana;
	font-size: 9px;
	font-weight: bold;
	color: #2694D9;}

.blueBG {background-color: #D7EDFB;}
.blueBGDark {background-color: #C5E5F9;}
.greenBG {background-color: #D0FFC3;}
.greenBGDark {background-color: #B2FF9D;}

.whiteBG {background-color: #FFFFFF;}

.tqBG {background-color: #D7EAFF;}
.tqBGDark {background-color: #BBDAFF;}
.glukBG {background-color: #FEE0F2;}
.glukBGDark {background-color: #FFCCEC;}
.ideaBG {background-color: #FEF9BF;}
.ideaBGDark {background-color: #F7F39C;}
.tripBG {background-color: #FADEC3;}
.tripBGDark {background-color: #FED2A7;}

.dividerBG {background-color: #2F8D00;}

.menuTOP {
	font-family: Tahoma, Arial, Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #4E90CB;}
.smallText {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #000000;}
.editText {
	font-family: Tahoma, Arial, Verdana;
	background-color: #FFFFFF;
	font-size: 12px;
	padding: 0px 0px 0px 3px;}
.button {
	font-family: Tahoma, Arial, Verdana;
	background-color: #2694D9;
	font-size: 12px;
	border: 3px solid #2694D9;}

.topborder {
	border-top: 1px solid #2F8D00;
}

.bottomborder {
	border-bottom: 1px solid #2F8D00;
}